edoardo.bonaccolta.XML-DOM/xml/film.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="film_collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="film" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titolo" type="xs:string"/>
              <xs:element name="regista" type="xs:string"/>
              <xs:element name="anno" type="xs:int"/>
              <xs:element name="durata" type="xs:int"/>
              <xs:element name="trama" type="xs:string"/>
              <xs:element name="poster" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>