edoardo.bonaccolta.XML-DOM/xml/recensioni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="recensioni">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="recensione" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="voto" type="xsd:int"/>
              <xsd:element name="data" type="xsd:string"/>
              <xsd:element name="testo" type="xsd:string"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:int" use="required"/>
            <xsd:attribute name="utente_id" type="xsd:int" use="required"/>
            <xsd:attribute name="film_id" type="xsd:int" use="required"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>