edoardo.bonaccolta.XML-DOM/xml/watchlist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="watchlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="utente_id" type="xs:int" use="required"/>
            <xs:attribute name="film_id" type="xs:int" use="required"/>
            <xs:attribute name="data_aggiunta" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
